__pycache__/
.venv/
.env
.DS_Store
*.pyc
*.db
*.sqlite
*.sqlite3
*.log
Thumbs.db
.idea/
.vscode/
.cursor/

data/**
!data/
!data/raw_documents/
!data/raw_documents/.gitkeep
!data/parsed_documents/
!data/parsed_documents/.gitkeep
!data/runs/
!data/runs/.gitkeep
!data/faiss/
!data/faiss/.gitkeep
